*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#f5f5f5;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:white;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}
.logo h1{
  font-family: 'Pacifico', cursive;
  font-size:40px;
 
}
.logo img{
    width:60px;
	height:60px;
	border-radius:100%;
	
}
nav{
	position:relative;
	right:25%;
}
.navbar nav a{
  margin:0 15px;
  text-decoration:none;
  color:black;
}

.navbar nav .active{
  background:#c8b79f;
  padding:8px 18px;
  border-radius:10px;
}

/* CONTACT SECTION */
.contact-section{
  display:flex;
  min-height:90vh;
}

/* LEFT SIDE */
.contact-left{
  width:50%;
  background:#bda78f;
  padding:80px;
  color:#2b2b2b;
}

.contact-left h1{
  font-family: 'Pacifico', cursive;
  font-size:48px;
  position:relative;
  left:20%;
  bottom:10%;
}

.subtitle{
  margin-top:10px;
  max-width:500px;
  font-family:cursive;
  text-align:center;
  position:relative;
  right:5%;
  bottom:10%;
}

.desc{
  margin:20px 0 40px;
  max-width:500px;
  font-family:cursive;
  text-align:center;
  position:relative;
  right:5%;
  bottom:10%;
}

.info p{
  margin:15px 0;
  border-bottom:2px solid #8a6f58;
  padding-bottom:5px;
  width:300px;

}
.icon i{
  font-size:20px;
  cursor:pointer;
}

.socials i{
  font-size:22px;
  margin-right:15px;
  color:#6b4632;
  transition:0.3s;
}

.socials i:hover{
  color:black;
  transform:scale(1.2);
}

/* RIGHT SIDE */
.contact-right{
  width:50%;
  background:url("contactusbg.jpeg") center/cover no-repeat;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* FORM CARD */
.form-card{
  background:#e5d6c3;
  padding:40px;
  width:350px;
  border-radius:5px;
  box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.form-card h2{
  margin-bottom:20px;
}

form input,
form textarea{
  width:100%;
  border:none;
  border-bottom:2px solid #7a5a45;
  background:transparent;
  padding:10px 5px;
  margin-bottom:20px;
}

.form textarea{
  height:80px;
  resize:none;
}

button{
  background:#6b4632;
  color:white;
  border:none;
  padding:12px 30px;
  border-radius:10px;
  cursor:pointer;
  float:right;
  transition: transform 0.2s ease;
}
button:hover{ 
  transform: scale(1.05);
}