*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#f5f5f5;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:white;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}
.logo h1{
  font-family: 'Pacifico', cursive;
  font-size:40px;
 
}
.logo img{
    width:60px;
	height:60px;
	border-radius:100%;
}
.navbar nav a{
  margin:0 15px;
  text-decoration:none;
  color:black;
}

.navbar nav .active{
  background:#c8b79f;
  padding:8px 18px;
  border-radius:10px;
}
  .search-box {
  display: flex;
  align-items: center;
  background: #bda78f;          
  padding: 6px 12px;            
  border-radius: 25px;         
  width: 180px;                 
  font-family: 'Segoe UI', sans-serif;
}

.search-box:focus-within {
  transform: scale(1.1);
}
.search-box i {
  margin-right: 8px;
  color: black;              
  font-size: 16px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: black;
  width: 100%;                 
}

.search-box input::placeholder {
  color:#6b4632;
  font-style: italic;
}
/* SHOP */
.shop{
  display:flex;
  padding:10px 10px;
  height:80vh;
  gap: 90px;
  background-color:#AC9682;
  border:2px;
}

.products{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:25px;
}

.card{
  background:white;
  padding:15px;
  text-align:center;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.05); /* grow 5% on hover */
}
.card img{
  width:230px;
  height:350px;
}

.card button{
  background:#6b4a34;
  color:white;
  border:none;
  padding:8px 10px;
}
.card-prc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.card-prc button {
  display: flex;
  align-items: center;
  gap: 8px;              
  background: #5E3D2D;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.card-prc button:hover {
  background: #AC9682;
}
/* CATEGORIES */

..categories {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
}

.cat {
  position: relative;
  top:2%;
  right:2%;
  flex: 0 0 auto;
  width: 320px;
  margin-bottom: 2px;
}
.cat:hover {
  transform: scale(1.05);
}

.cat img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px;
}

.cat h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.dark-text {
  color: #5a3a2a;
}