*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#f5f5f5;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:white;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}
.logo h1{
  font-family: 'Pacifico', cursive;
  font-size:40px;
 
}
.logo img{
    width:60px;
	height:60px;
	border-radius:100%;
}
nav{
	position:relative;
	left:-1%;
}
.navbar nav a{
  margin:0 15px;
  text-decoration:none;
  color:black;
}

.navbar nav .active{
  background:#c8b79f;
  padding:8px 18px;
  border-radius:10px;
}
  .search-box {
  display: flex;
  align-items: center;
  background: #bda78f;          
  padding: 6px 12px;            
  border-radius: 25px;         
  width: 180px;                 
  font-family: 'Segoe UI', sans-serif;
}

.search-box:focus-within {
  transform: scale(1.1);
}
.search-box i {
  margin-right: 8px;
  color: black;              
  font-size: 16px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: black;
  width: 100%;                 
}

.search-box input::placeholder {
  color:#6b4632;
  font-style: italic;
}

/* HERO */
.hero{
  height:90vh;
  background:url("fabric.jpg") center/cover;
  background-size: 110%;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding-right:80px;
}

.hero-text h1{
  color:white;
  font-size:45px;
  margin-bottom:20px;
  font-family:segoe script;
  letter-spacing:3px;
  font-weight:1;
  color:#5E3D2D;
  position:relative;
  top:1%;
  left:8%;
}

.btn {
  display: inline-block;
  padding: 15px 35px;
  border: none;
  background: #5E3D2D;
  color:#5E3D2D;             /* make text white */
  font-size: 24px;
  font-family: cursive;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;   /* remove underline */
  transition: transform 0.2s ease, background 0.3s ease;
  position:relative;
  left:180px;
}

.btn:link, 
.btn:visited {             /* override default link colors */
  color: #fff;
}

.btn:hover {
  transform: scale(1.05);
  background: #7a543e;     /* slightly lighter brown */
}



.rectangle1{
  width:250px;
  height:370px;
  background:#5E3D2D;
  position:absolute;
  top:30%;
  left:8%;
}

.rectangle{
  width:250px;
  height:362px;
  background:#5E3D2D;
  position:absolute;
  top:50%;
  left:25%;
}
.rectangle1 img{
  width:250px;
  height:370px;
  position:absolute;
  top:-10%;
  left:-12%;
}
.rectangle img{
  width:250px;
  height:362px;
  position:absolute;
  top:-5%;
  left:-9%;
}
