*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#f5f5f5;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:white;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}
.logo h1{
  font-family: 'Pacifico', cursive;
  font-size:40px;
 
}
.logo img{
    width:60px;
	height:60px;
	border-radius:100%;
}
nav{
	position:relative;
	right:25%;
}
.navbar nav a{
  margin:0 15px;
  text-decoration:none;
  color:black;
}

.navbar nav .active{
  background:#c8b79f;
  padding:8px 18px;
  border-radius:10px;
}


/* ABOUT */
.about{
  display:flex;
  height:100vh;
  gap:40px;
  padding:190px;
  background:#AC9682;
}
.rectangle{
  width:250px;
  height:100vh;
  background:#5E3D2D;
  position:absolute;
  top:16.5%;
  left:10%;
}
.about-images img{
  width:215px;
  height:270px;
  position:absolute;
  top:25%;
  left:5%;
  margin:10px;
}
.about-images1 img{
  width:217px;
  height:270px;
  position:absolute;
  top:40%;
  left:20%;
  margin:10px;
}
.about-images2 img{
  width:233px;
  height:252px;
position:absolute;
  top:58%;
  left:2%;
  margin:10px;
}
.about-text1 h2{
  font-size:48px;
  font-family: 'Pacifico', cursive;
  position:absolute;
  top:30%;
  left:55%;
}


.about-text{
 font-family:Cursive;
  max-width:890px;
  font-size:19px;
  color:black;
  position:relative;
  top:5%;
  left:13%;
line-height:1.5;
}

.about-text p{
  font-family:Cursive;
  max-width:890px;
  font-size:15;
  color:black;
  position:relative;
  top:5%;
  left:6%;

}
